$black: rgb(0, 0, 0);
$darkest-gray: rgb(10, 10, 10);
$darker-gray: rgb(25, 25, 25);
$dark-gray: rgb(50, 50, 50);
$gray: rgb(100, 100, 100);
$light-gray: rgb(150, 150, 150);
$lighter-gray: rgb(175, 175, 175);
$lightest-gray: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
