@import "./utilities/reset";
@import "./utilities/colors";

@import "./organisms/o-graph";

body {
	background-color: $darker-gray;
	overflow-x: hidden;
	color: $lightest-gray;
	font-family: 'Poppins', sans-serif;
}

h1 {
	text-align: center;
	font-size: 3rem;
	font-weight: normal;

	span {
		color: $white;
		font-weight: bold;
	}
}
